{% extends "base_generic.html" %}

{% load static %}

{% block title %}
    about us
{% endblock title %}

{% block content %}
    {% comment %} TODO optimise this LMAO {% endcomment %}
    <img src="{% static "jimmy-dean-IanqI4W4fco-unsplash.jpg" %}" alt="food images banner" class="banner-image">

    <h1>About us</h1>
    <p>FoodManJones is a app for likeminded users to browse and share recipes.</p>
    <p>
        If you have any questions, please feel free to contact us. We are always looking for new ways to improve our site.
    </p>

    <h2>Our team</h2>
    <ul>
        <li>Lim Wen Yi (group leader)</li>
        <li>Keith Lo Ze Hui</li>
        <li>Lim Jon Rae</li>
        <li>Jas Jiivwatt Singh</li>
        <li>Maaninder Singh Sandhu</li>
    </ul>
{% endblock content %}
