{% for comment in comments %}
    <div class="comment">
        <div class="comment-author">{{ comment.author }}</div>
        <div class="comment-text">{{ comment.text }}</div>
        <div class="comment-date">{{ comment.created_date }}</div>
        <form action="{% url 'add_comment' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
            <input type="hidden" name="parent_comment_id" value="{{ comment.id }}">
            <input type="text" name="text" placeholder="Reply to a comment">
            <button type="submit">Reply</button>
        </form>

        {% if comment.get_child_comments %}
            <div class="replies">
                {% for reply in comment.get_child_comments %}
                    {% include "comments.html" with comment=reply %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% empty %}
    <div>no comments yet.</div>
{% endfor %}
