{% extends "base_generic.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}

    {% for recipe in recipes %}
        <article class="recipe recipe-card">
            <h2>
                <a href="{% url 'recipe' recipe.id %}">{{ recipe.title }}</a>
            </h2>
            <h3>By {{ recipe.author }}</h3>

            {% if recipe.photo %}
                <img src="{{ recipe.photo.url }}"
                     alt="{{ recipe.title }}"
                     width="300"
                     height="200">
            {% else %}
                <p class="no-photo-avaliable">No photo available</p>
            {% endif %}

            <p>{{ recipe.description }}</p>
            <p>Ingredients: {{ recipe.ingredients }}</p>
            <p>Steps: {{ recipe.steps }}</p>
            <p>Comments: {{ recipe.comments.all.count }}</p>

            <form action="{% url 'like_recipe' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                {% if recipe.has_liked %}
                    <button class="like-button">Unlike</button>
                {% else %}
                    <button class="like-button">Like</button>
                {% endif %}
                <span>{{ recipe.likes.all.count }}</span>
            </form>
        </article>

    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}

{% endblock content %}
