{% extends "base_generic.html" %}
{% load static %}

{% block title %}
    {{ recipe.title }}
{% endblock title %}

{% block content %}

    <article class="recipe recipe-card">
        <h1>
            {{ recipe.title }}
            {% if recipe.is_verified %}
                <img src="{% static "verification.svg" %}" class="icon" alt="verified">
            {% endif %}
        </h1>
        <p>
            <b>By</b> {{ recipe.author }}
        </p>
        <p>
            <b>Uploaded on</b> {{ recipe.created_date|date:"F j, Y" }}
        </p>

        <div class="recipe-actions">
            <form action="{% url 'like_recipe' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                {% if recipe.has_liked %}
                    <button class="like-button button">Unlike</button>
                {% else %}
                    <button class="like-button button">Like</button>
                {% endif %}
                <span>{{ recipe.likes.all.count }}</span>
                <br>
            </form>

            {% if request.user == recipe.author %}
                <button class="edit-button button"
                        onclick="window.location.href='{% url 'edit_recipe' recipe.id %}'">Edit</button>
            {% endif %}

            {% if request.user.account_type == "admin" or request.user == recipe.author %}
                {% comment %} TODO comfirmation popup? {% endcomment %}
                <button class="delete-button button"
                        onclick="window.location.href='{% url 'delete_recipe' recipe.id %}'">Delete</button>
            {% endif %}

            {% if request.user.account_type == "professional" %}
                {% comment %} TODO comfirmation popup? {% endcomment %}
                {% if recipe.is_verified %}
                    <button class="unverify-button button"
                            onclick="window.location.href='{% url 'verify_recipe' recipe.id 'unverify' %}'">
                        Unverify recipe
                    </button>
                {% else %}
                    <button class="verify-button button"
                            onclick="window.location.href='{% url 'verify_recipe' recipe.id 'verify' %}'">
                        Verify recipe
                    </button>
                {% endif %}
            {% endif %}
        </div>

        {% if recipe.photo %}
            <img src="{{ recipe.photo.url }}"
                 alt="{{ recipe.title }}"
                 width="300"
                 height="200">
        {% else %}
            <div class="no-photo-avaliable">No photo available</div>
        {% endif %}

        <p>{{ recipe.description|linebreaks }}</p>

        {% if recipe.time_minutes %}
            <p>
                <b>Time to cook is</b> {{ recipe.time_minutes }} minutes
            </p>
        {% endif %}

        <section>
            <h4>Ingredients</h4>
            <ul>
                {% for line in recipe.get_ingredients_lines %}<li>{{ line }}</li>{% endfor %}
            </ul>
        </section>

        <section>
            <h4>Steps</h4>
            <ol>
                {% for line in recipe.get_steps_lines %}<li>{{ line }}</li>{% endfor %}
            </ol>
        </section>
    </article>

    <section>
        <form action="{% url 'add_comment' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
            <input type="text" name="text" placeholder="Add a comment" required>
            <input type="number" name="rating" placeholder="Rating" min="1" max="5">
            <button type="submit">Add</button>
        </form>
    </section>

    <hr>
    <p>{{ recipe.comments.all.count }} comments</p>
    {% comment %} depth count starts from 1 due to some maths in the template {% endcomment %}
    {% include "comments.html" with comments=comments depth=1 %}

{% endblock content %}
