<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <style>
            @font-face {
                font-family: 'Vollkorn';
                src: local('Vollkorn'),
                    url('{% static 'fonts/Vollkorn-VariableFont_wght.ttf' %}') format("truetype");
            }
        </style>

        <meta name="description"
              content="{% block description %}Discover, find, and create recipes at your fingertips.{% endblock description %}">
        <meta name="keywords"
              content="{% block keywords %}recipe app, cooking, food recipes, cuisine, family meals, foodie, culinary, kitchen app{% endblock keywords %}">
        <title>
            {% block title %}
            {% endblock title %}
        | FoodManJones</title>
    </head>

    <body>
        <!-- nav bar -->
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}" class="logo">
                        <img src="{% static "kawaii-noodle.png" %}" alt="logo">
                        <div>&nbsp;FoodManJones</div>
                    </a>
                </li>

                <div class="spacer"></div>

                <li class="menu-toggle">
                    <button type="button" aria-label="Toggle Navigation">
                        <span class="hamburger-line"></span>
                        <span class="hamburger-line"></span>
                        <span class="hamburger-line"></span>
                    </button>
                </li>

                <li class="nav-item">
                    <form action="{% url 'search' %}" method="get">
                        <input type="text"
                               name="query"
                               id="search-input"
                               placeholder="Search..."
                               {% if query %}value="{{ query }}"{% endif %}>
                        <button type="submit" id="search-button">Search</button>
                    </form>
                </li>

                <li class="nav-item">
                    <a href="{% url 'upload_recipe' %}">Upload</a>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'notifications' %}">Notifications
                            {% if notifications %}&nbsp;<span class="badge"></span>{% endif %}
                        </a>
                    </li>

                    {% if not user.is_superuser %}
                        <li class="nav-item">
                            <a href="{% url 'profile' %}">Profile</a>
                        </li>
                    {% endif %}

                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a href="{% url 'profile' %}">Admin Profile</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}

                <script>
                    const toggleButton = document.querySelector('.menu-toggle button');
                    const navItems = document.querySelectorAll('.nav-item');
                    toggleButton.addEventListener('click', () => {
                      navItems.forEach(item => item.classList.toggle('nav-show'));
                    });
                </script>
            </ul>
        </nav>

        {% comment %} TODO find a way to workaround this {% endcomment %}
        {% comment %} <h1>{{ title }}</h1> {% endcomment %}
        <!-- content -->
        <main hx-boost="true">
            {% block content %}
            {% endblock content %}
        </main>

        <footer>
            <p>
                All rights reserved. © 2024 FoodManJones.
                <a target="_blank" href="https://icons8.com/icon/118849/kawaii-noodle">Kawaii Noodle</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            </p>
        </footer>
    </body>

    <!-- htmx script -->
    <!-- put here so that it loads last -->
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>

</html>
