<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        | FoodManJones</title>
    </head>

    <body>
        <!-- nav bar -->
        <nav>
            <ul>
                <li>FoodManJones?</li>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">Register</a>
                </li>
                <li>
                    <a href="{% url 'upload_recipe' %}">Upload a new recipe</a>
                </li>
            </ul>
        </nav>

        {% comment %} TODO find a way to workaround this {% endcomment %}
        {% comment %} <h1>{{ title }}</h1> {% endcomment %}
        <!-- content -->
        {% block content %}
        {% endblock content %}
    </body>

    <!-- htmx script -->
    <!-- put here so that it loads last -->
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>

</html>
