{% extends "base_generic.html" %}

{% block title %}
    Profile
{% endblock title %}

{% block content %}
    <h2>Admin Profile</h2>

    <h3>{{ user.username }}</h3>


    <p class="title">{{ user.get_full_name }}</p>

    {% if user.profile_picture %}
    <img src="{{ user.profile_picture.url }}"
    alt="Profile Picture"
    width="300"
    height="200">
    {% endif %}

    
    <p>Age: {{ user.age }}</p>
    


    <h4>Previously Liked Items</h4>


    <ul>
        {% for item in user.liked_items.all %}
            <li>{{ item.name }}</li>
        {% empty %}
            <li>No previously liked items.</li>
        {% endfor %}
    </ul>
    <h4>Previously Made Comments</h4>


    
    <ul>
        <li>
            <form action="{% url 'edit_profile' %}" method="get">
                <button type="submit">Edit Profile</button>
            </form>
        </li>


        {% if user.is_superuser %}
        <li>
            <button>
                <a href="{% url 'admin:index' %}">Admin Site</a>
            </button>
        </li>
        {% endif %}
    </ul>

{% endblock content %}
