/* color scheme */
:root {



    
    --text: #f7f6bb;

    --background-header-footer: #003322;
    --background-body: #09251d;
    --background-content: #114131;

    --primary: #75961a;
    --primary-brght: #88aa22;
    --secondary: #fcdd2c;
    --accent: #32dd02;

    --heading: var(--secondary);
    --heading-hover: #ecbf06;
    --heading-active: #cb9503;

    --text: #F7F6BB;
    --text-light: #c2c2c2;

    --button: var(--primary);
    --button-hover: #597318;
    --button-active: #485b19;
    --button-text: var(--text);

    --font: Vollkorn, Georgia, 'Times New Roman', Times, serif;
}

/* global styles */

a href {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body {
    font-family: var(--font);
    background-color: var(--background-body);
    color: var(--text);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
}

@media (max-width: 480px) {
    main {
        padding: 20px 10px;
    }
}

a {
    color: var(--primary-brght);
}

/* nav */
nav {
    background-color: var(--background-header-footer);
}

nav ul {
    list-style-type: none;
    max-width: 1200px;
    padding: 10px;
    margin: auto;

    display: flex;
}

nav ul li {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

nav ul li a {
    line-height: 1;
    text-decoration: none;

    color: var(--button-text);
    padding: 5px;
    border-radius: 3px;
}

nav ul .spacer {
    margin-right: auto;
}

nav ul li .logo {
    color: var(--accent);
    height: 1.5em;
    display: flex;
    align-items: center;
}

nav ul li .logo img {
    height: 100%;
    width: auto;
}

/* footer */
footer {
    background-color: var(--background-header-footer);
    color: var(--text);

    text-align: center;
    padding: 10px;
}

/* recipe card */
.recipe-card {
    background-color: var(--background-content);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    .recipe-card {
        padding: 20px 10px;
    }
}

.recipe-card h2,
.recipe-card a {
    color: var(--heading);
    margin-top: 0;
}

.recipe-card a:hover {
    color: var(--heading-hover);
}

.recipe-card a:active {
    color: var(--heading-active);
}

.recipe-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.recipe-card p {
    font-size: 14px;
}

.recipe-card img {
    max-width: 100%;
    aspect-ratio: 1;
}

.recipe img,
.recipe-card img {
    height: auto;
    object-fit: cover;
}

.no-photo-avaliable,
.recipe img,
.recipe-card img {
    border-radius: 10px;
}

.no-photo-avaliable {
    background-color: #c2c2c2;
    color: #3f3f3f;
    text-align: center;
    padding: 20px;
}

/* recipe */
.comment {
    font-size: 14px;
    margin-bottom: 10px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

/* unused for now */
.comment-author {}

.comment-date {}

.comment-text {}

.reply {}

/* forms */
form table {
    margin-bottom: 1em;
}

form th,
form td {
    padding-bottom: 1em;
    padding-right: 1ex;
}

form th {
    display: block;
    text-align: left;
}

.helptext {
    font-size: small;
    color: var(--text-light);
}

/* button */
button {
    padding: 5px;
    border-radius: 3px;

    background-color: var(--button);
    color: var(--button-text);

    font-family: inherit;
    border: none;
    /* font-size: 1em; */

    cursor: pointer;
}

button,
nav ul li a {
    transition: background-color 0.1s;
    transition: box-shadow 0.1s;
    box-shadow: none;
}

button:hover,
nav ul li a:hover {
    background-color: var(--button-hover);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button:active,
nav ul li a:active {
    background-color: var(--button-active);
    box-shadow: none;
}
